.btn {
  display: inline-flex;
  box-sizing: border-box;
  align-items: center;
  margin: 10px 0;
  padding: 10px 15px;
  min-width: 100px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #f2f5f7;

  background-color: $black-pearl-2;
  border: 1px solid $black-pearl-2;
  border-radius: 3px;
  cursor: pointer;

  transition: opacity $trans-default;

  &--white {
    background-color: $alice-blue-2;
    color: $deep-sky-blue-2;
    border: 1px solid $deep-sky-blue-2;
  }

  &--blue {
    background-color: $deep-sky-blue-2;
    border: 1px solid $deep-sky-blue-2;
    color: $alice-blue;
  }

  &--white-border {
    border: 1px solid $alice-blue;
    color: $alice-blue;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }
}
