.callback-form {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  column-gap: 30px;
  row-gap: 20px;
  background-color: #00b3ff;

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.callback-form input,
.callback-form textarea {
  box-sizing: border-box;
  padding: 13px 13px 15px;
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $color-default-black;
  width: 100%;

  background: rgba(4, 20, 39, 0.15);
  border: 1px solid transparent;
  border-radius: 3px;

  &::placeholder {
    color: $color-default-white;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }
}

.callback-form textarea {
  padding: 23px 14px;
  grid-column: span 2;
  min-height: 155px;

  @include vp-1023 {
    padding: 30px 14px 14px;
  }

  @include vp-767 {
    grid-column: span 1;
  }
}

.callback-form button[type="submit"] {
  min-width: 265px;
  min-height: 45px;
  margin-top: 15px;
  padding-top: 13px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.callback-form input[type="checkbox"] {
  @extend.visually-hidden;
}

.callback-form input[type="checkbox"] + label {
  display: inline-flex;
  align-items: center;
  margin-bottom: -2px;
  margin-left: 10px;
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.8);
  user-select: none;
  cursor: pointer;
  align-self: end;

  @include vp-1023 {
    margin-bottom: 3px;
    margin-left: 0;
  }
}

.callback-form input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid $color-default-white;
  border-radius: 2px;
  margin-bottom: 4px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
}

.callback-form input[type="checkbox"]:checked + label::before {
  background-image: url("../img/svg/icon-tick.svg");
}

/* стили при наведении курсора на checkbox */
.callback-form input[type="checkbox"]:not(:disabled) + label:hover::before {
  opacity: 0.7;
}

/* стили для чекбокса, находящегося в фокусе */
.callback-form input[type="checkbox"]:focus + label::before {
  opacity: 0.7;
}

/* стили для чекбокса, находящегося в состоянии disabled */
.callback-form input[type="checkbox"]:disabled + label,
.callback-form input[type="checkbox"]:disabled + label::before {
  opacity: 0.3;
}
