.footer-navigation {
  position: relative;

  &::before {
    position: absolute;
    left: calc((100vw - 100%) / 2 * -1);
    content: "";
    height: 1px;
    width: 100vw;
    background-color: $color-default-white;
    z-index: 1;
    margin: auto;
  }
}

.footer-navigation__header {
  position: relative;
  margin: 0;
  margin-bottom: 22px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  @include vp-767 {
    margin-bottom: 0;
    margin-left: -1px;
    padding-top: 23px;
    padding-bottom: 21px;
    padding-right: 67px;

    &::after {
      position: absolute;
      content: "";
      top: 21px;
      right: 0;
      height: 15px;
      width: 15px;
      background-image: url("../img/svg/icon-plus.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      z-index: 1;
      margin: auto;
    }
  }
}

.accordion__header--selected {
  @include vp-767 {
    &::after {
      background-image: url("../img/svg/icon-minus.svg");
    }
  }
}

.footer-navigation__list {
  margin: 0;
  list-style: none;
  padding: 0;
  min-width: 220px;
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(auto-fit, 220px);
  column-gap: 30px;
  row-gap: 8px;

  @include vp-1279 {
    grid-template-columns: 1fr;
  }

  @include vp-767 {
    margin-top: -3px;
    row-gap: 5px;
    margin-bottom: 15px;
  }
}

.footer-navigation__item {
  width: 220px;
}

.footer-navigation--contacts .footer-navigation__item {
  width: 320px;

  @include vp-767 {
    width: 270px;
  }
}

.footer-navigation__list a {
  min-height: 20px;
  display: flex;
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.7);

  @include vp-767 {
    font-size: 14px;
    line-height: 25px;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }
}

.footer-navigation--eshop .footer-navigation__list {
  min-width: 470px;

  @include vp-1279 {
    min-width: 220px;
  }
}

.footer-navigation--contacts .footer-navigation__list {
  grid-template-columns: repeat(auto-fit, 320px);

  @include vp-1279 {
    min-width: 320px;
  }

  @include vp-767 {
    grid-template-columns: repeat(auto-fit, 270px);
    min-width: 270px;
  }
}

.footer-navigation--contacts a {
  min-width: 260px;
}

.footer-navigation--contacts .footer-navigation__link--address {
  @include vp-767 {
    line-height: 135%;
    margin-bottom: 10px;
  }
}

.footer-navigation-column-wrapper {
  margin: 0;
  padding: 0;
  min-width: 220px;
  display: grid;
  align-items: flex-start;
  column-gap: 30px;
  row-gap: 8px;
}
