
.footer-navigation__header {
  margin: 0;
  margin-bottom: 22px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  @include vp-767 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.footer-navigation__list {
  margin: 0;
  list-style: none;
  padding: 0;
  min-width: 220px;
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(auto-fit, 220px);
  column-gap: 30px;
  row-gap: 8px;

  @include vp-1279 {
    grid-template-columns: 1fr;
  }
}

.footer-navigation__item {
  width: 220px;
}

.footer-navigation--contacts .footer-navigation__item {
  width: 345px;
}

.footer-navigation__list a {
  min-height: 20px;
  display: flex;
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.7);

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }
}

.footer-navigation--eshop .footer-navigation__list {
  min-width: 470px;

  @include vp-1279 {
    min-width: 220px;
  }
}

.footer-navigation--contacts .footer-navigation__list {
  grid-template-columns: repeat(auto-fit, 345px);

  @include vp-1279 {
    min-width: 320px;
  }
}

.footer-navigation--contacts a {
  min-width: 260px;
}

.footer-navigation-column-wrapper {
  margin: 0;
  padding: 0;
  min-width: 220px;
  display: grid;
  align-items: flex-start;
  column-gap: 30px;
  row-gap: 8px;
}
