.hide--no-desktop {
  display: none;

  @include vp-1279 {
    display: block;
  }
}

.hide--desktop-only {
  @include vp-1279 {
    display: none;
  }
}

.hide--no-mobile {
  @include vp-767 {
    display: none;
  }
}

.hide--mobile-only {
  display: none;

  @include vp-767 {
    display: block;
  }
}
