.intro__container {
  padding-top: 185px;
}

.intro h2,
.intro__header {
  margin: 0;
  margin-left: 125px;
  margin-bottom: 40px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.intro p,
.intro__description {
  width: 670px;
  margin: 0;
  margin-left: 125px;
  margin-bottom: 40px;
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 155%;
}

.intro__feedback-button {
  margin: 0;
  margin-left: 125px;
  margin-bottom: 40px;
  min-height: 25px;
}
