.intro__container {
  padding-top: 184px;

  @include vp-1023 {
    padding-top: 80px;
  }
}

.intro h2,
.intro__header {
  margin: 0 50px 32px 125px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;

  @include vp-1023 {
    margin: 0;
    margin-bottom: 0;
    font-size: 64px;
    line-height: 75px;
  }

  @include vp-767 {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 8px;
    margin-left: -1px;
  }
}

.intro p,
.intro__description {
  width: 670px;
  margin: 0 50px 45px 125px;
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;

  @include vp-1023 {
    margin: 0;
    margin-bottom: 55px;
  }

  @include vp-767 {
    width: auto;
    min-width: 217px;
    font-size: 14px;
    line-height: 155%;
    word-wrap: break-word;
    margin-left: -2px;
    margin-bottom: 45px;
  }
}

.intro__feedback-button {
  margin: 0 50px 40px 125px;
  padding: 15px 25px;
  min-height: 55px;
  min-width: 210px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.05em;

  @include vp-1023 {
    min-width: 410px;
    margin: 0 45px 40px;
  }

  @include vp-767 {
    margin: 0 auto 40px;
    min-width: 270px;
    padding: 10px 30px;
    font-size: 14px;
    line-height: 16px;
    min-height: 40px;
  }
}
