.main-container {
  min-height: 100%;
}

.main-container__intro {
  position: relative;
  min-height: 760px;
  color: $alice-blue;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 880px;
    background: $top-to-bottom-filter, url("../img/background/main/background-main-desktop.jpg"), $black-pearl;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -120px;
    z-index: -1;
  }
}

.main-container__advantages {
  min-height: 630px;
  color: $black-pearl;
  background-color: $alice-blue-2;
}

.main-container__about-us {
  min-height: 320px;
  color: $black-pearl;
  background-color: $alice-blue-2;
}

.main-container__services {
  min-height: 750px;
  color: $alice-blue-2;
  background-color: $black-pearl;
}

.main-container__feedback {
  min-height: 580px;
  color: $color-default-white;
  background: linear-gradient(139.2deg, rgba(4, 24, 39, 0.5) 0%, rgba(4, 24, 39, 0.5) 33.7%, rgba(255, 255, 255, 0) 33.8%, rgba(255, 255, 255, 0) 100%), $deep-sky-blue;
}
