.main-header {
  position: sticky;
  top: 0;
  background: $top-to-bottom-dark;
  min-width: 320px;
  z-index: 10;

  @include vp-1023 {
    position: static;
  }
}

.main-header__container {
  box-sizing: border-box;
  min-height: 120px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: grid;
  align-items: flex-start;
  grid-auto-flow: row dense;
  grid-template-columns: minmax(220px, max-content) minmax(480px, 1fr) minmax(220px, max-content);
  gap: 20px;

  @include vp-1023 {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    min-width: 100px;
    min-height: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @include vp-767 {
    min-height: 70px;
    padding-top: 10px;
  }
}

.main-header__logo-link {
  display: flex;
  align-items: center;

  @include vp-767 {
    margin-top: 5px;
  }
}

.main-header__logo-text {
  margin-left: 15px;

  @include vp-767 {
    display: none;
  }
}

.main-header__logo-img {
  @include vp-767 {
    width: 35px;
    height: 35px;
    object-fit: cover;
  }
}

.main-header__contacts-list {
  justify-self: center;

  @include vp-1023 {
    justify-self: end;
  }

  @include vp-767 {
    margin-right: 13px;
  }
}

.main-header__callback-button {
  margin: 5px 60px 10px 0;
  min-width: 160px;
  min-height: 40px;

  @include vp-1023 {
    display: none;
  }
}
