.main-footer {
  background-color: $black-pearl;
  min-width: 260px;
  color: $color-default-white;
}

.main-footer__container {
  box-sizing: border-box;
  min-height: 280px;
  display: grid;
  align-items: flex-start;
  grid-template-columns: minmax(215px, max-content) 1fr;
  gap: 30px;

  @include vp-1279 {
    grid-template-columns: 1fr;
  }

  @include vp-1023 {
    gap: 20px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

.main-footer__wrapper {
  padding-top: 50px;
  padding-bottom: 50px;

  @include vp-1279 {
    padding-bottom: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    justify-content: space-between;
  }

  @include vp-1023 {
    padding-bottom: 7px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    padding-top: 35px;
    padding-bottom: 24px;
    padding-left: 5px;
  }
}

.main-footer__logo-link {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  @include vp-1023 {
    margin-bottom: 10px;
  }

  @include vp-767 {
    margin-bottom: 15px;
    margin-right: 10px;
    justify-content: center;
  }
}

.main-footer__logo-text {
  margin-left: 15px;
}

.main-footer__social {
  align-self: center;
  margin: 0 10px;

  @include vp-1023 {
    align-self: flex-start;
    margin: 6px -5px 0 0;
  }

  @include vp-767 {
    margin: 0 auto;
  }
}

.main-footer__navigation {
  position: relative;
  margin-right: 25px;
  justify-self: end;
  box-sizing: border-box;
  min-height: 130px;
  min-width: 470px;
  padding-top: 57px;
  padding-bottom: 50px;
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(auto-fit, minmax(320px, max-content));
  gap: 30px;

  @include vp-1279 {
    padding-top: 0;
    grid-template-columns: 1fr 1fr;
    column-gap: 130px;
    width: 100%;
    justify-content: center;
  }

  @include vp-1023 {
    margin-right: 0;
    min-width: 670px;
  }

  @include vp-767 {
    display: block;
    min-width: 260px;
    padding-bottom: 36px;

    &::before,
    &::after {
      position: absolute;
      left: calc((100vw - 100%) / 2 * -1);
      content: "";
      height: 1px;
      width: 100vw;
      background-color: $color-default-white;
      z-index: 1;
      margin: auto;
    }
  }
}
