.main-container {
  min-height: 100%;
}

.main-container__intro {
  position: relative;
  min-height: 760px;
  color: $alice-blue;

  @include vp-1023 {
    min-height: 540px;
  }

  @include vp-767 {
    min-width: 320px;
    min-height: 490px;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: calc(100% + 120px);
    min-height: 880px;
    background: $top-to-bottom-filter, url("../img/background/main/background-main-desktop.jpg"), $black-pearl;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -120px;
    z-index: -1;

    @include retina {
      background: $top-to-bottom-filter, url("../img/background/main/background-main-desktop@2x.jpg"), $black-pearl;
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover;
    }


    @include vp-1023 {
      height: calc(100% + 100px);
      min-height: 640px;
      margin-top: -100px;
      background: $top-to-bottom-filter, url("../img/background/main/background-main-tablet.jpg"), $black-pearl;
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover;

      @include retina {
        background: $top-to-bottom-filter, url("../img/background/main/background-main-tablet@2x.jpg"), $black-pearl;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    @include vp-767 {
      height: calc(100% + 70px);
      min-height: 560px;
      margin-top: -70px;
      background: $top-to-bottom-filter, url("../img/background/main/background-main-mobile.jpg"), $black-pearl;
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover;

      @include retina {
        background: $top-to-bottom-filter, url("../img/background/main/background-main-mobile@2x.jpg"), $black-pearl;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
}

.main-container__advantages {
  min-height: 630px;
  color: $black-pearl;
  background-color: $alice-blue-2;

  @include vp-1023 {
    min-height: 670px;
  }

  @include vp-767 {
    min-width: 320px;
    min-height: 340px;
  }
}

.main-container__about-us {
  min-height: 320px;
  color: $black-pearl;
  background-color: $alice-blue-2;

  @include vp-1023 {
    min-height: 380px;
  }

  @include vp-767 {
    min-width: 320px;
    min-height: 305px;
  }
}

.main-container__services {
  min-height: 750px;
  color: $alice-blue-2;
  background-color: $black-pearl;

  @include vp-1023 {
    min-height: 945px;
  }

  @include vp-767 {
    min-width: 320px;
    min-height: 914px;
  }
}

.main-container__feedback {
  min-height: 580px;
  color: $color-default-white;
  background: linear-gradient(139.2deg, rgba(4, 24, 39, 0.5) 0%, rgba(4, 24, 39, 0.5) 33.7%, rgba(255, 255, 255, 0) 33.8%, rgba(255, 255, 255, 0) 100%), $deep-sky-blue;

  @include vp-1023 {
    background: $deep-sky-blue;
    min-height: 550px;
  }

  @include vp-767 {
    min-width: 320px;
    min-height: 610px;
  }
}
