.social {
  min-width: 150px;
}

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 40px);
  gap: 15px;
  justify-content: start;

  @include vp-1279 {
    justify-content: end;
  }
}

.social__item {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  min-width: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $black-pearl;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }
}

.social__link--ok {
  background-image: url("../img/svg/icon-social-ok.svg");
}

.social__link--vk {
  background-image: url("../img/svg/icon-social-vk.svg");
}

.social__link--pinterest {
  background-image: url("../img/svg/icon-social-pinterest.svg");
}
